# Import Liabraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset

In [5]:
df=pd.read_csv('student_marks.csv')
print(df)

  Unnamed: 0 Gender         DOB  Maths  Physics  Chemistry  English  Biology  \
0       John      M  05/04/1988     55       45       56.0       87       21
1     Suresh      M    4/5/1987     75       55        NaN       64       90
2     Ramesh      M   25/5/1989     25       54       89.0       76       95
3    Jessica      F   12/8/1990     78       55       86.0       63       54
4   Jennifer      F    2/9/1989     58       96       78.0       46       96

   Economics  History  Civics
0         52       89      65
1         61       58       2
2         87       56      74
3         89       75      45
4         77       83      53

In [14]:
df.columns.values[0]="Student_Name"
df.columns.values[3]="Maths"
print(df)

  Student_Name Gender         DOB  Maths  Physics  Chemistry  English  \
0         John      M  05/04/1988     55       45       56.0       87
1       Suresh      M    4/5/1987     75       55        NaN       64
2       Ramesh      M   25/5/1989     25       54       89.0       76
3      Jessica      F   12/8/1990     78       55       86.0       63
4     Jennifer      F    2/9/1989     58       96       78.0       46

   Biology  Economics  History  Civics
0       21         52       89      65
1       90         61       58       2
2       95         87       56      74
3       54         89       75      45
4       96         77       83      53

# Data Inspection

In [ ]:
print(df.shape)
print(df.size)
print(df.isna().sum())

(5, 11)
55
Student_Name    0
Gender          0
DOB             0
Maths           0
Physics         0
Chemistry       1
English         0
Biology         0
Economics       0
History         0
Civics          0
dtype: int64

In [ ]:
print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Student_Name  5 non-null      str
 1   Gender        5 non-null      str
 2   DOB           5 non-null      str
 3   Maths         5 non-null      int64
 4   Physics       5 non-null      int64
 5   Chemistry     4 non-null      float64
 6   English       5 non-null      int64
 7   Biology       5 non-null      int64
 8   Economics     5 non-null      int64
 9   History       5 non-null      int64
 10  Civics        5 non-null      int64
dtypes: float64(1), int64(7), str(3)
memory usage: 572.0 bytes
None

# Data Cleaning

In [ ]:
df.fillna(df.mean(numeric_only=True),inplace=True)
print(df)

  Student_Name Gender         DOB  Maths  Physics  Chemistry  English  \
0         John      M  05/04/1988     55       45      56.00       87
1       Suresh      M    4/5/1987     75       55      77.25       64
2       Ramesh      M   25/5/1989     25       54      89.00       76
3      Jessica      F   12/8/1990     78       55      86.00       63
4     Jennifer      F    2/9/1989     58       96      78.00       46

   Biology  Economics  History  Civics
0       21         52       89      65
1       90         61       58       2
2       95         87       56      74
3       54         89       75      45
4       96         77       83      53

# Total & Average Marks

In [ ]:
subjects=['Maths','Physics','Chemistry','English','Biology', 'Economics','History','Civics']
df["total"]=df[subjects].sum(axis=1)
df["average"]=df["total"]/len(subjects)
print(df[["total","average"]])

    total   average
0  470.00  58.75000
1  482.25  60.28125
2  556.00  69.50000
3  545.00  68.12500
4  587.00  73.37500

# Ranking

In [ ]:
df["rank"] = df["total"].rank(ascending=False,method='dense')
df.sort_values(by="rank",inplace=True)
print(df["rank"])

4    1.0
2    2.0
3    3.0
1    4.0
0    5.0
Name: rank, dtype: float64

# Subjectwise Analysis

In [ ]:
subjects_analysis = pd.DataFrame({
    "Mean":df[subjects].mean(),
    "Median":df[subjects].median(),
    "max":df[subjects].max(),
    "min":df[subjects].min()
})
print(subjects_analysis)

            Mean  Median   max   min
Maths      58.20    58.0  78.0  25.0
Physics    61.00    55.0  96.0  45.0
Chemistry  77.25    78.0  89.0  56.0
English    67.20    64.0  87.0  46.0
Biology    71.20    90.0  96.0  21.0
Economics  73.20    77.0  89.0  52.0
History    72.20    75.0  89.0  56.0
Civics     47.80    53.0  74.0   2.0

# Percentile Of Each

In [ ]:
df["percentage"]=(df["total"]/(len(subjects)*100))*100
print(df.sort_values(by="percentage", ascending=False))

  Student_Name Gender         DOB  Maths  Physics  Chemistry  English  \
4     Jennifer      F    2/9/1989     58       96      78.00       46
2       Ramesh      M   25/5/1989     25       54      89.00       76
3      Jessica      F   12/8/1990     78       55      86.00       63
1       Suresh      M    4/5/1987     75       55      77.25       64
0         John      M  05/04/1988     55       45      56.00       87

   Biology  Economics  History  Civics   total   average  rank  percentage
4       96         77       83      53  587.00  73.37500   1.0    73.37500
2       95         87       56      74  556.00  69.50000   2.0    69.50000
3       54         89       75      45  545.00  68.12500   3.0    68.12500
1       90         61       58       2  482.25  60.28125   4.0    60.28125
0       21         52       89      65  470.00  58.75000   5.0    58.75000

# Grade Assignning

In [ ]:
def grade(percentage):
    if percentage >= 90:
        return 'A'
    elif percentage >= 80:
        return 'B'
    elif percentage >= 70:
        return 'C'
    elif percentage >= 60:
        return 'D'
    elif percentage >= 50:
        return 'F'
    else:
        return 'FAIL'
    
print(df["percentage"].apply(grade))

4    C
2    D
3    D
1    D
0    F
Name: percentage, dtype: str

# Top & Weak Student Analysis

In [ ]:
#top 3 students based on percentile
top_student = df.sort_values(by='percentage',ascending=False)[['Student_Name','percentage']].head(3)
print(top_student)

  Student_Name  percentage
4     Jennifer      73.375
2       Ramesh      69.500
3      Jessica      68.125

In [ ]:
#Weak Students
weak_students = df[df["percentage"]<50][['Student_Name','percentage']]
print(weak_students)

Empty DataFrame
Columns: [Student_Name, percentage]
Index: []

In [ ]:
#Topper rank 1 student details
topper = df.loc[df["percentage"].idxmax()]
print(topper)

Student_Name    Jennifer
Gender                 F
DOB             2/9/1989
Maths                 58
Physics               96
Chemistry           78.0
English               46
Biology               96
Economics             77
History               83
Civics                53
total              587.0
average           73.375
rank                 1.0
percentage        73.375
Name: 4, dtype: object

In [ ]:
#weakest student details
weakest_student =df.loc[df["percentage"].idxmin()]
print(weakest_student)

Student_Name          John
Gender                   M
DOB             05/04/1988
Maths                   55
Physics                 45
Chemistry             56.0
English                 87
Biology                 21
Economics               52
History                 89
Civics                  65
total                470.0
average              58.75
rank                   5.0
percentage           58.75
Name: 0, dtype: object

In [ ]:
#performance visulaization
df["performance"]=pd.cut(df["percentage"],
                         bins=[0,50,60,70,80,90,100],
                         labels=['Fail','Need Improvement','Average','Good','Very Good','Excellent'])
print(df["performance"])

4                Good
2             Average
3             Average
1             Average
0    Need Improvement
Name: performance, dtype: category
Categories (6, str): ['Fail' < 'Need Improvement' < 'Average' < 'Good' < 'Very Good' < 'Excellent']

In [ ]:
failed_only=subject_fail.copy()
failed_only[subjects]=failed_only[subjects].where(failed_only[subjects]<40)
print(failed_only[['Student_Name']+subjects].to_string(index=False))

Student_Name  Maths  Physics  Chemistry  English  Biology  Economics  History  Civics
      Ramesh   25.0      NaN        NaN      NaN      NaN        NaN      NaN     NaN
      Suresh    NaN      NaN        NaN      NaN      NaN        NaN      NaN     2.0
        John    NaN      NaN        NaN      NaN     21.0        NaN      NaN     NaN

# Visual Analysis

In [ ]:
df[subjects].boxplot(figsize=(10,6))

In [ ]:
df["average"].plot(kind='hist',bins=10)

# Save to CSV

In [ ]:
df.to_csv("student_marks_analysis.csv",index=False)
df.to_csv(r"C:\Python Projects\Student_Marks_Analysis.csv",index=False)